@import "../../../Static/variables.scss";




  .calendar_container,
  .calendar,
  .calendar_header{
    padding: 5px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .calendar_container {
    border: 2px solid skyblue;
  }

  .calendar_wrapper{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .calendar_header {
    border-bottom: 1px dashed skyblue;
    font-size: 1.6em;
    position: relative;
    text-align: center;
    font-weight: bold;
    border-radius: 0px;
    border-bottom: 1px solid $textColor;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    div{
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
    }
  }
  .calendar_month_right, .calendar_month_left{
    transform: translateY(20%);
  }

  .day {
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    line-height: 24px;
    &:after{
      background-color: transparent;
      transition: 0.2s;
    }
    span{
      padding: 5px;
    }
  }

  .current_day {
    background-color: $red;
    border-radius: 50%;
    color: $white;
    transition: .2s;
  }
  .selected_day {
    z-index: 1;
    color: $textColor;
    position: relative;
    transition: .2s;
    &:after{
      position: absolute;
      left: 0;
      transition: 0.2s;
      width: 100%;
      height: 100%;
      content: '';
      background-color: $blue;
      border-radius: 50%;
      z-index: -1;
    }
  }

  .month_popup {
    position: absolute;
    padding: 5px;
    background: white;
    border: 2px solid skyblue;
  }

  .month_popup div {
    padding: 0.3em;
  }

  .nav_month {
    top: 0.6em;
    font-size: 0.6em;
    right:3px;
  }

  .editor_year {
    max-width: 3.6em;
  }

  .label_month,
  .label_year {
    font-size: 0.6em;
  }

  .label_month {
    cursor: pointer;
  }


.calendar_days{
  display: inline-block;
  margin: 0 auto;
}
.week_day_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}
.table_row{
  display: flex;
  justify-content: start;
  padding: 5px;
  div{
    width: 28px;
    height: 28px;
    display: inline-flex;
    align-items: center;
    text-align: center;
  }
}