@import "../../Static/variables.scss";

.profile_container{
  display: flex;
  max-width: 600px;
  min-width: 200px;
  align-self: center;
  margin: auto;
  border: 2px solid $green;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  span{
    margin-left: 20px;
    font-size: 20px;
    color: $greyText;
  }
}
.profile_content{
  display: flex;
  flex-direction: column;

}
.profile_age, .profile_location, .profile_about{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 10px;
  //border-bottom: 1px solid $greyText;
}
.profile_left_col{
  min-width: 25%;
  margin-right: 10px;
  border-right: 1px solid $greyText;
}
.profile_right_col{
  flex: auto;
}