@import "../../Static/variables.scss";

.content_wrapper{
    transition: .3s;
    padding: 10px;
}
.content_container{
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}
.content_calendar{
    flex-basis: 24%;
    margin-right: 1%;
}
.content_tasks{
    flex-basis: 75% ;
}

@media screen and ( max-width: 768px) {
    .content_container{
        flex-direction: column;
    }
}