@import "../../../../Static/variables.scss";

.task_container{
    background-color: $white;
    padding: 30px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.75);
}
.task_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.task_header_left{
    display: inline-flex;
    align-items: center;
}
.task_photo{
    border-radius: 50%;
    margin-right: 15px;
}

.task_header_text{
    line-height: 50px;
    font-size: 15px;
    text-transform: capitalize;
}

.task_header_right a{
    text-decoration: none;
    color: #cacaca;
}

.task_features_bar{
    display: flex;
    flex-direction: row;
    padding-left: 65px;
}
.task_feature_item{
    margin-right: 15px;
    font-size: 12px;
}
.task_feature_icon{
    margin-right: 10px;
    &.map{
        color: $green;
    }
    &.time{
        color: $red;
    }
    &.calendar{
        color: $blue;
    }
}
.task_feature_icon-time{
    color: $red;
}
.task_feature_map{
    text-decoration: none;
    color: inherit;
    transition: .2s;
    &:hover{
        color: $green;
    }
}
.task_description{
    padding-left: 65px;
    margin-bottom: 20px;
}

.task_description_title{
    font-size: 19px;
    color: $textColor;
}
.task_description_text{
    font-size: 14px;
    color: $greyText;
}

.task_friends{
    padding-left: 65px;
}
.task_friends img{
    border-radius: 50%;
    margin-right: 7px;
}
