@import "../../Static/variables.scss";

.add_task_form{
  padding: 15px;
  input, textarea, select{
    padding: 5px;
    border: none;
    border-radius: 2px;
    background-color: $greyBg;
    color: $textColor;

  }
  label{
    letter-spacing: 1px;
  }
}
.add_title{
  width: 100%;
  padding: 5px;
  display: block;
  input{
    margin-left: 10px;
    width: 100%;
    padding: 5px;
  }
}
.add_devider{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add_left_col{
  flex-grow: 2;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  input{
    width: 100px;
    float: right;
  }
  label{
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    span{
      margin-right: 10px;
    }
  }
}
.add_right_col{
  position: relative;
  label{
    span{
      display: block;
      padding: 10px;
    }
  }
  textarea{
    width: 100%;
    height: 75px;
    resize: none;
  }
  flex-grow: 8;
  .add_friend_select_label{
    display: inline-block;
  }
  .add_submit_btn{
    float: right;
    position: relative;
    padding: 10px;
    background-color: $green;
    color: $white;
    margin-top: 5px;
    transition: .3s;
    font-weight: bold;
    &:hover{
      background-color: lighten($green,15%);
      color: $textColor;
    }
  }
}
